
.cabeçalho{
	background-color: #000066;
	font-family: "comic sans ms"; 
	font-size: 30px;
	font-weight: bold;
	color: #FFFFFF;
	margin: 0px 0px 0px 0px;
	height: 80px;
}

 body {
	background-color: #C0D9D9;
	margin: 0px 0px 0px 0px;	 
}

h1,h4{
	font-family:"comic sans ms";
	font-size:20px;
	font-weight: bold;
	color:blue;
	text-align:center;
}

h2,h3{
	font-family:"comic sans ms";
	font-size:12px;
	color:blue;
	text-align:center;
}

.textoformulario{
	font-family:"comic sans ms";
	font-size:12px;
	font-weight: bold;
	color:blue;
	
}

.caixa1{
	float:left;
	width: 45%;
	padding-right : 1em;
	border: 3px solid #F0F8FF;	
	margin-left: 10px;
	height: 280px;
}

.caixa2{
	float: right;
	width: 45%;
	padding-left : 1em;	
	border: 3px solid #F0F8FF;	
	margin-right: 10px;
	height: 280px;
	}

.caixa3{
	float: none;
	width: 97.5%;
	padding-left : 1em;	
	border: 3px solid #F0F8FF;	
	margin-right: 10px;
	height: 530px;
	}
	
.caixa4{
	width: 60%;
	border: 3px solid #F0F8FF;	
	margin: 0% 20% 0% 20%;
	}
		
p#texto{
	font-family: "comic sans ms";
	font-size: 14px;
	margin: 10px 15px 10px 15px;
	line-height: 140%;
	text-align: justify;
}

label#texto{
	font-family: "comic sans ms";
	font-size: 12px;
	font-weight: bold;
	color:blue;
}

#menu ul {
	padding:0px;
	margin:0px;
	float: left;
	width: 100%;
	background-color:#EDEDED;
	list-style:none;
	font:80% Tahoma;
}

#menu ul li { display: inline; }

#menu ul li a {
	background-color:#EDEDED;
	color: #333;
	text-decoration: none;
	border-bottom:3px solid #EDEDED;
	padding: 2px 10px;
	float:left;
}

#menu ul li a:hover {
	background-color:#D6D6D6;
	color: #6D6D6D;
	border-bottom:3px solid #000066;
}

#menuSite ul {
	padding:0px;
	margin:0px;
	float: left;
	width: 100%;
	background-color:#000066;
	list-style:none;
	font:80% Tahoma;
}

#menuSite ul li { display: inline; }

#menuSite ul li a {
	background-color:#000066;
	color: #FFF;
	text-decoration: none;
	border-bottom:3px solid #000066;
	padding: 2px 10px;
	float:left;
}

#menuSite ul li a:hover {
	background-color:#D6D6D6;
	color: #6D6D6D;
	border-bottom:3px solid #000066;
}